:root {
    --accent-color: #ED202E;
    --secondary-color: #9DB0BB;
    --black-color: #000000;
    --additional-color: #0065E2;
    --additional-color__30: #B3D1F6;
    --neutral-color: #E6F0FD;
    --main-color: #FFFFFF;

    /* My color */
    --shadow-color: #00000019;
}
