* {
    font-family: 'Montserrat', sans-serif;
    color: var(--black-light-theme);
    transition: background-color  0.3s ease;


    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: transparent;
        border: 0;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: var(--accent-light-theme);
    }
}

body {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

input {
    &:focus {
        outline: none;
    }
}
